<nav class="d-flex nav-pills flex-column flex-sm-row row navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"  href="">
        GuiaPress
    </a>
    <ul class= " navbar-nav d-flex flex-row me-auto list-inline">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
</nav>